.NoticePage{
  width: 92%;
  height: 92vh;
  display: flex;
  margin: 0 auto;
}

#NoticeTitle{
  margin-top: 20%;
  font-size: 30pt;
}

.noticelist_div{
  text-align: center;
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
}

.noticename{
  font-size:20px;
  color: black;
  font-family: 'BlackHanSans', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.noticename:hover{
  color : #FFCBA4;
  border-bottom: 2px solid black;
}

.noticetable{
  text-align: center;
  width: 100%;
}

.noticehead{
  font-size: 30px;
}

.noticebody{
  font-size: 20px;
}