.WebcamStreamPage{
  width: 92%;
  height: 92vh;
  display: flex;
  margin: 0 auto;
}

.SignRecPage{
  width: 92%;
  height: 92vh;
  display: flex;
  margin: 0 auto;
}

.SignRecLeftSide{
  width: 50%;
  display: block;
  justify-content: center;
  text-align: center;
}

.SignRecRightSide{
  display: flex;
  position: relative;
  flex-direction: column;
  font-weight: bold;
  height: auto;
  width: 50%;
  align-items: center;
}

.SignRecResult{
  border: solid 2px black;
  display: flex;
  width: 720px;
  height: 530px;
  align-items: center;
  text-align: center;
  display: block;
  justify-content: center;
  margin-top: 6%;
}

.image_div{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.Sign_image{
  margin-top: 3%;
}

.Sign_image_text{
  font-size: 45px;
  font-family: 'BlackHanSans', sans-serif;
  display: inline;
  text-align: center;
  margin: 15px;
}

.stop_btn{
  font-size: 30px;
  color: black;
  font-family: 'BlackHanSans', sans-serif;
  background: transparent;
  border-radius: 20px;
  width: 720px;
  margin-bottom: 25px;
}

.stop_btn:hover{
  color: #FFCBA4;

}

.clear_btn{
  font-size: 30px;
  color: black;
  font-family: 'BlackHanSans', sans-serif;
  background: transparent;
  border-radius: 20px;
  width: 720px;
  margin-bottom: 25px;
  margin-top : 6.5%;
}

.clear_btn:hover{
  color: #FFCBA4;
}